body {
    overflow: hidden;
    height: 720px; /* no tocar */
    width: 1280px; /* no tocar */
    color: #aaaaaa;
    /*background-color: #07417D;*/
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.areaQuad
{
    position:absolute;
    left:500px;
    top:250px;

}

#safe-area { /* no tocar */
    width: 1024px;
    height: 648px;
    padding: 36px 128px;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#video-container {
    left:0px;
    top:0px;
    width: 1280px;
    height:720px;
}

#video-container-hbbtv
{
    height: 250px;
    width: 350px;
}

#oipf-container {
    visibility: hidden;
    height: 0;
    width: 0;
    position: absolute;
}

a:focus {
    background-color: yellow;
}

#red-button {
    max-width: 50px !important;
    max-height: 50px !important;
}

#button-message{
    position: absolute;
    bottom: 10%;
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid white;
    border-radius: 7px;

    background-color: #38302c ;
    color: #eeb527;
    opacity: 0.9;

}


#sync-message
{
    background-color: #38302c ;
    color: #eeb527;
    opacity: 0.9;
    padding: 5%;
    border: 1px solid white;
    border-radius: 7px;

}

#OK-message
{

    text-align: center;
    background-color: #38302c ;
    color: #eeb527;
    opacity: 0.9;
    display: inline-flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid white;
    border-radius: 7px;
    width:220px;

}

#button-OK{
    margin-left: 5%;
    margin-right: 5%;
}

#div-log {
    position:absolute;
    top: 550px;
    z-index:999;
    background:black;
    color:white;
}

#log {
    color:red;
}


#buttons-menu{
    display: inline-flex;
    position: fixed;
    bottom: 35px;
    left: 131px;
    text-align: center;
    background-color: #38302c ;
    color: #eeb527;
    opacity: 0.9;
    border: 1px solid white;
    border-radius: 7px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#button-buttons-menu-resto{
    padding-left: 45px;


}

#text-button-menu{
    padding-left: 45px;

}


#video-image-preview{
    width: 125px;
    height: 115px;
    margin-right: 25px;
}

#video-list
{
    margin-top: 10px;
}

.video-block{
    display: inline-flex;
    height: 118px;
    width: 609px;
    background-color: #38302c;
    color: #eeb527;
    float: left;
    font-size:16px;
    margin-bottom: 9px;
    border-style:solid;
    border-color: #38302C;
}


#video-info{
    padding-top: 22px;
    width:260px;

}

#users-container
{
    font-size: 16px;
    border: black solid 2px;
    margin-bottom: 20px;
}
#users-container li
{
    list-style-type: none;
}

#video-info-container
{
    font-size: 17px;
    border: black solid 2px;
}

#video-info-container div ul li
{
    list-style-type: none;
}

#video-nav-arrows{
    padding-top: 5px;
    margin-left: 100px;

}

#video-nav-arrows img {
    max-height: 35px;
    max-width: 35px;
    display: block;

}


#video-info-votes{
    padding-top: 22px;
    padding-left: 25px;
    color:white;
}

#video-preview-small{
    max-height: 250px;
    max-width: 350px;
}

#info-video-selected{

    border: 1px solid white;
    border-radius: 7px;
    background-color: #38302c;
    color: #eeb527;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 620px;
    width: 354px;
    margin-left: 620px;
}


