<!DOCTYPE html PUBLIC "-//HbbTV//1.1.1//EN" "http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>HbbTV basic template</title>
    <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/televisionapp/css/hbbtv.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/televisionapp/js/keycodes.js"></script>
    <script type="text/javascript" src="/televisionapp/js/hbbtv2.js"></script>
    <script type="text/javascript" src="/televisionapp/js/handlekeycodes4.js"></script>
</head>

<body>


<!-- video container -->
<div id="video-container"></div>

<!-- oipf objects container -->
<div id="oipf-container">
    <object id="oipfAppMan" type="application/oipfApplicationManager"></object>
    <object id="oipfConfig" type="application/oipfConfiguration"></object>
</div>

<!-- place your code here -->
<div id="safe-area">
    <div id="button-message2">Press <img id="red-button" src="../assets/azul.gif" /> to go back to the app</div>
</div>

</body>

<script>


    window.onload = function() {

        initApp();
        registerKeyEventListener();
        initVideo();
        blueButtonBack();

    }

    function registerKeyEventListener() {
        document.addEventListener("keydown", function(e) {
            if (handleKeyCode4(e.keyCode)) {
                e.preventDefault();
            }
        }, false);
    }

    function blueButtonBack()
    {
        $('#button-message2').delay(5000).fadeOut(1500);
    }
</script>

</html>