<!DOCTYPE html PUBLIC "-//HbbTV//1.1.1//EN" "http://www.hbbtv.org/dtd/HbbTV-1.1.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>HbbTV basic template</title>
    <meta http-equiv="content-type" content="application/vnd.hbbtv.xhtml+xml;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../css/hbbtv.css"/>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/televisionapp/js/keycodes.js"></script>
    <script type="text/javascript" src="/televisionapp/js/hbbtv.js"></script>
	<script type="text/javascript" src="/televisionapp/js/handlekeycodes3.js"></script>
    <script type="text/javascript" src="/televisionapp/js/readerJsonData.js"></script>
  </head>

  <body>
  


    <!-- oipf objects container -->
    <div id="oipf-container">
        <object id="oipfAppMan" type="application/oipfApplicationManager"></object>
        <object id="oipfConfig" type="application/oipfConfiguration"></object>
    </div>
   
    <!-- place your code here -->
    <div id="safe-area">

      <section id="video-list">


      </section>
	  
      <section id="info-video-selected">

        <!-- video container -->
        <div id="video-container"></div>
        <!--<div id="video-container-youtube"></div>-->
        Connected Users
        <div id="users-container"></div>
        Video Info
        <div id="video-info-container"></div>
      </section>



      <section id="buttons-menu">
        <div>
          <img id="button-buttons-menu" src="../assets/rojo.gif" /> <div id="text-button-menu-primer">Play Video</div>
        </div>
        <div>
          <img id="button-buttons-menu-resto" src="../assets/verde.gif" /><div id="text-button-menu"> Pause Video </div>
        </div>
        <div>
          <img id="button-buttons-menu-resto" src="../assets/amarillo.gif" /> <div id="text-button-menu">Stop Video</div>
        </div>
        <div>  
          <img id="button-buttons-menu-resto" src="../assets/azul.gif" /> <div id="text-button-menu">Fullscreen</div>
        </div>
     </section>
	  
	  
    </div>

  </body>

  <script>

      window.onload = function()
      {
          initApp();
          registerKeyEventListener();
          initVideo();
          broadcast = true;

          $('#video-list-0').css({"border-style":"solid", "border-color": "rgba(210,180,12,1)"});
          $("#video-list-0").append('<div id="video-nav-arrows">' +
                  '<img id="video-arrows" src="../assets/up_ob.gif">' +
                  '<img id="video-arrows" src="../assets/ok_ob.gif">' +
                  '<img id="video-arrows" src="../assets/down_ob.gif">' +
                  '</div>');

          $("#video-info-container").append('<div>' +
                  '<ul>' +
                  '<li>'+ videos[0]['name'] +'</li>' +
                  '<li>'+ videos[0]['author'] +'</li>' +
                  '<li>'+ videos[0]['playbacks'] +'</li>' +
                  '<li>'+ videos[0]['description'] +'</li>' +
                  '</ul>' +
                  '</div>');
          document.getElementById("video-list-0").focus();

      }
      function registerKeyEventListener() {
          document.addEventListener("keydown", function(e) {
              if (handleKeyCode3(e.keyCode)) {
                  e.preventDefault();
              }
          }, false);
      }
  </script>

</html>

